{ ... }:
{
  axios.users.users.{{USERNAME}} = {
    fullName = "{{FULLNAME}}";
    email = "{{EMAIL}}";
    isAdmin = {{IS_ADMIN}};
    homeProfile = "{{HOME_PROFILE}}";
  };

  home-manager.users.{{USERNAME}} = {
    axios.home.flakePath = "/etc/nixos";
    axios.wallpapers.enable = true;
    axios.terminal.neovim.enable = true;
  };
}
