{ ... }:
{
  cairn.users.users.{{USERNAME}} = {
    fullName = "{{FULLNAME}}";
    email = "{{EMAIL}}";
    isAdmin = {{IS_ADMIN}};
    homeProfile = "{{HOME_PROFILE}}";
  };

  home-manager.users.{{USERNAME}} = {
    cairn.home.flakePath = "/etc/nixos";
    cairn.wallpapers.enable = true;
    cairn.terminal.neovim.enable = true;
  };
}
