{
    "metadata": {
        "name": "DankShell",
        "revision": 1,
        "license": "SPDX-License-Identifier: MIT",
        "copyright": [
            "SPDX-FileCopyrightText: 2025 axiOS (matugen + DankMaterialShell)"
        ]
    },
    "text-styles": {
        "Normal": {
            "text-color": "{{colors.on_surface.default.hex}}",
            "selected-text-color": "{{colors.on_surface.default.hex}}",
            "bold": false,
            "italic": false
        },
        "Keyword": {
            "text-color": "{{dank16.color5.default.hex}}",
            "selected-text-color": "{{dank16.color5.default.hex}}",
            "bold": true
        },
        "Function": {
            "text-color": "{{dank16.color4.default.hex}}",
            "selected-text-color": "{{dank16.color12.default.hex}}"
        },
        "Variable": {
            "text-color": "{{dank16.color6.default.hex}}",
            "selected-text-color": "{{dank16.color14.default.hex}}"
        },
        "ControlFlow": {
            "text-color": "{{dank16.color3.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}",
            "bold": true
        },
        "Operator": {
            "text-color": "{{dank16.color6.default.hex}}",
            "selected-text-color": "{{dank16.color14.default.hex}}"
        },
        "BuiltIn": {
            "text-color": "{{dank16.color12.default.hex}}",
            "selected-text-color": "{{dank16.color12.default.hex}}"
        },
        "Extension": {
            "text-color": "{{dank16.color4.default.hex}}",
            "selected-text-color": "{{dank16.color12.default.hex}}",
            "bold": true
        },
        "Preprocessor": {
            "text-color": "{{dank16.color2.default.hex}}",
            "selected-text-color": "{{dank16.color10.default.hex}}"
        },
        "Attribute": {
            "text-color": "{{dank16.color3.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}"
        },
        "Char": {
            "text-color": "{{dank16.color2.default.hex}}",
            "selected-text-color": "{{dank16.color10.default.hex}}"
        },
        "SpecialChar": {
            "text-color": "{{dank16.color6.default.hex}}",
            "selected-text-color": "{{dank16.color14.default.hex}}"
        },
        "String": {
            "text-color": "{{dank16.color2.default.hex}}",
            "selected-text-color": "{{dank16.color10.default.hex}}"
        },
        "VerbatimString": {
            "text-color": "{{dank16.color10.default.hex}}",
            "selected-text-color": "{{dank16.color10.default.hex}}"
        },
        "SpecialString": {
            "text-color": "{{dank16.color6.default.hex}}",
            "selected-text-color": "{{dank16.color14.default.hex}}"
        },
        "Import": {
            "text-color": "{{dank16.color5.default.hex}}",
            "selected-text-color": "{{dank16.color13.default.hex}}"
        },
        "DataType": {
            "text-color": "{{dank16.color3.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}"
        },
        "DecVal": {
            "text-color": "{{dank16.color9.default.hex}}",
            "selected-text-color": "{{dank16.color9.default.hex}}"
        },
        "BaseN": {
            "text-color": "{{dank16.color9.default.hex}}",
            "selected-text-color": "{{dank16.color9.default.hex}}"
        },
        "Float": {
            "text-color": "{{dank16.color9.default.hex}}",
            "selected-text-color": "{{dank16.color9.default.hex}}"
        },
        "Constant": {
            "text-color": "{{dank16.color9.default.hex}}",
            "selected-text-color": "{{dank16.color9.default.hex}}"
        },
        "Comment": {
            "text-color": "{{dank16.color8.default.hex}}",
            "selected-text-color": "{{dank16.color8.default.hex}}",
            "italic": true
        },
        "Documentation": {
            "text-color": "{{dank16.color11.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}",
            "italic": true
        },
        "Annotation": {
            "text-color": "{{dank16.color11.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}"
        },
        "CommentVar": {
            "text-color": "{{dank16.color8.default.hex}}",
            "selected-text-color": "{{dank16.color8.default.hex}}",
            "italic": true
        },
        "RegionMarker": {
            "text-color": "{{dank16.color4.default.hex}}",
            "selected-text-color": "{{dank16.color12.default.hex}}",
            "bold": true
        },
        "Information": {
            "text-color": "{{dank16.color3.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}"
        },
        "Warning": {
            "text-color": "{{dank16.color3.default.hex}}",
            "selected-text-color": "{{dank16.color11.default.hex}}",
            "bold": true
        },
        "Alert": {
            "text-color": "{{dank16.color9.default.hex}}",
            "selected-text-color": "{{dank16.color9.default.hex}}",
            "bold": true
        },
        "Error": {
            "text-color": "{{dank16.color1.default.hex}}",
            "selected-text-color": "{{dank16.color9.default.hex}}",
            "bold": true
        },
        "Others": {
            "text-color": "{{colors.on_surface.default.hex}}",
            "selected-text-color": "{{colors.on_surface.default.hex}}"
        }
    },
    "editor-colors": {
        "BackgroundColor": "{{colors.background.default.hex}}",
        "TextSelection": "{{colors.primary_container.default.hex}}",
        "CurrentLine": "{{colors.surface_container.default.hex}}",
        "SearchHighlight": "{{dank16.color3.default.hex}}",
        "ReplaceHighlight": "{{dank16.color2.default.hex}}",
        "BracketMatching": "{{dank16.color5.default.hex}}",
        "TabMarker": "{{dank16.color8.default.hex}}",
        "SpellChecking": "{{dank16.color1.default.hex}}",
        "IndentationLine": "{{dank16.color8.default.hex}}",
        "IconBorder": "{{colors.surface_container_high.default.hex}}",
        "CodeFolding": "{{dank16.color4.default.hex}}",
        "LineNumbers": "{{dank16.color8.default.hex}}",
        "CurrentLineNumber": "{{colors.on_surface.default.hex}}",
        "WordWrapMarker": "{{dank16.color8.default.hex}}",
        "ModifiedLines": "{{dank16.color9.default.hex}}",
        "SavedLines": "{{dank16.color2.default.hex}}",
        "Separator": "{{colors.outline.default.hex}}",
        "MarkBookmark": "{{dank16.color4.default.hex}}",
        "MarkBreakpointActive": "{{dank16.color1.default.hex}}",
        "MarkBreakpointReached": "{{dank16.color3.default.hex}}",
        "MarkBreakpointDisabled": "{{dank16.color8.default.hex}}",
        "MarkExecution": "{{dank16.color2.default.hex}}",
        "MarkWarning": "{{dank16.color3.default.hex}}",
        "MarkError": "{{dank16.color1.default.hex}}",
        "TemplateBackground": "{{colors.surface_container.default.hex}}",
        "TemplatePlaceholder": "{{colors.primary_container.default.hex}}",
        "TemplateFocusedPlaceholder": "{{colors.primary.default.hex}}",
        "TemplateReadOnlyPlaceholder": "{{dank16.color8.default.hex}}"
    }
}
