[ColorEffects:Disabled]
Color={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{colors.surface_container.default.rgb.r}},{{colors.surface_container.default.rgb.g}},{{colors.surface_container.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:Selection]
BackgroundAlternate={{colors.primary_container.default.rgb.r}},{{colors.primary_container.default.rgb.g}},{{colors.primary_container.default.rgb.b}}
BackgroundNormal={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.on_primary.default.rgb.r}},{{colors.on_primary.default.rgb.g}},{{colors.on_primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_primary.default.rgb.r}},{{colors.on_primary.default.rgb.g}},{{colors.on_primary.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:Tooltip]
BackgroundAlternate={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:View]
BackgroundAlternate={{colors.surface_variant.default.rgb.r}},{{colors.surface_variant.default.rgb.g}},{{colors.surface_variant.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:Window]
BackgroundAlternate={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:Complementary]
BackgroundAlternate={{colors.surface_container.default.rgb.r}},{{colors.surface_container.default.rgb.g}},{{colors.surface_container.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:Header]
BackgroundAlternate={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[Colors:Header][Inactive]
BackgroundAlternate={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
BackgroundNormal={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
DecorationFocus={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
DecorationHover={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundActive={{colors.primary.default.rgb.r}},{{colors.primary.default.rgb.g}},{{colors.primary.default.rgb.b}}
ForegroundInactive={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
ForegroundLink={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundNegative={{colors.error.default.rgb.r}},{{colors.error.default.rgb.g}},{{colors.error.default.rgb.b}}
ForegroundNeutral={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}
ForegroundNormal={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
ForegroundPositive={{colors.tertiary.default.rgb.r}},{{colors.tertiary.default.rgb.g}},{{colors.tertiary.default.rgb.b}}
ForegroundVisited={{colors.secondary.default.rgb.r}},{{colors.secondary.default.rgb.g}},{{colors.secondary.default.rgb.b}}

[WM]
activeBackground={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
activeBlend={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
activeForeground={{colors.on_surface.default.rgb.r}},{{colors.on_surface.default.rgb.g}},{{colors.on_surface.default.rgb.b}}
inactiveBackground={{colors.surface.default.rgb.r}},{{colors.surface.default.rgb.g}},{{colors.surface.default.rgb.b}}
inactiveBlend={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}
inactiveForeground={{colors.on_surface_variant.default.rgb.r}},{{colors.on_surface_variant.default.rgb.g}},{{colors.on_surface_variant.default.rgb.b}}

[General]
ColorScheme=Matugen
Name=Matugen
shadeSortColumn=true

[KDE]
contrast=4

[Icons]
Theme=Papirus-Dark
